*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}

body{
    background: var(--Linear1);
}

:root{
--DesaturatedRed: #ce9797;
--SoftRed: #f96262;
--DarkGrayishRed: #413a3a;
--Linear1: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
--Linear2: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

main{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 58% 1fr;
}

.infos{
    background: url(img/bg-pattern-desktop.svg), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.cont{
    max-width: 445px;
    margin: 0 auto;
}

.logo{
    margin-top: 70px;
    margin-bottom: 130px;
}

.were{
    font-style: normal;
    color: var(--DesaturatedRed);
    font-size: 4rem;
    font-weight: 300;
    line-height: 1; 
    letter-spacing: 17.321px;
}

.img-prin{
    background: url('/img/hero-desktop.jpg') no-repeat;
    background-size: cover;
}

.title{
    color: var(--DarkGrayishRed);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 17.321px;
    margin-bottom: 32px;
    margin-bottom: 40px;
}

.info{
    color: var(--DesaturatedRed);
    line-height: 1.7;
    font-size: 1rem;
    margin-bottom: 40px;
}

.div-input{
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid #CE9898;
    padding-left: 32px;
    border-radius: 28px;
}

.div-input input{
    flex: 1;
    border: none;
    padding: 13px 0;
    outline: none;
    line-height: 1.7;
    font-size: 1rem;
}

.div-input input::placeholder{
    color: #CE9898;
    opacity: 0.5;
}

.div-input button{
    border: 0;
    position: relative;
    left: 2px;
    border-radius: 28px;
    background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    box-shadow: 0px 15px 20px 0px rgba(198, 110, 110, 0.25);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s all;
}

.div-input button:hover{
    opacity: .5;
}


.errorP{
    font-size: 13px;
    margin-top: 6px;
    text-align: start;
    padding-left: 32px;
    color: #F96464;
}

.bordaErr{
    border: 2px solid #F96464 !important;
}

.imgErro{
    position: absolute;
    top: 14px;
    right: 105px;
}

@media(max-width:999px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 15% 50% 1fr;
        grid-template-areas:
      "icon"
      "hero"
      "info";
    }

    .logo{
        margin-bottom: 80px;
    }

    .logo img{
        position: absolute;
        top: 5%;
    }
    .cont{
        max-width: 100%;
        padding: 0 32px;
        padding-bottom: 92px;
        text-align: center;
    }

    .img-prin{
        grid-area: hero;
    }

    .infos{
        grid-area: info;
    }
    .were,.title{
        font-size: 2.5rem;
    }
    
    .div-input button{
        width: 64px;
    }
}
